@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;

}

.image-icon {
    background-image: url(./images/icon-image.png);
}


.tweet-box {
    background-color: black ;
    border: 0.5px solid #657786;
    width: 100%;
}

.card-header h3 {
    margin-top: 0.8em;
}

.form-line {
    display: flex;
    margin-bottom: 1em;
}

.tweet-box .tweet-box-input {
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    padding: 1em;
}

.tweet-box .tweet-box-input:focus {
    outline: none;
}

.icons{
    color: #1DA1F2;
    align-items: center;
    cursor: pointer;
}

.icon {
    margin: 0 0.6em;
}

.tweet-box .tweet-box-button {
    background-color: #1DA1F2;
    color: white;
    border-radius: 24px;
    border: none;
    font-size: 1rem;
    padding: 0.5em 1em;
    float: right;
    font-weight: 500;
}

.image-icon-form {
    width: 45px;
    float: left;
}




@media only screen and (max-width: 280px) {
    
    .tweet-box .tweet-box-button {
       margin-top: 1em;
    }
    
    }


