@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;

}

body {

    background-color: black;

}

.float-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;

}


.background-image {
    background-image: url(./images/twitter-login-page.png);
    height: 100vh;
    background-size: cover;

}


.login-form {
    color: #d9d9d9;

}

.login-form h1 {
    font-weight: 700;
    font-size: 5rem;
    margin-top: 1.5em;
    margin-left: 1em;
}

.login-form h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2em;
    margin-left: 3em;
}

.form {
    margin-top: 4em;
    margin-left: 3em;
    padding: 2em 2em;
}

.form label {
    font-weight: 700;
    font-size: 2rem;
    margin-right: 0.5em;
}

.form input {
    font-size: 2rem;

}

.form button {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2em;
    margin-left: 13rem;
    padding: 1em 6em;
    border-radius: 40px;
}

.twitter-icon {
    font-size: 50px;
    padding: 40px 0 0 50px;
}


@media only screen and (max-width: 1317px) {
    .form button {

        margin-left: 2em;

    }

    .background-image {
        height: 100%;

    }

}