@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;
    
}

.twitter-icon {
    color: #d9d9d9;
    width: 50px;
    margin-top: -25px;
    margin-left: -40px;
    width: 10%;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.card {
    background-color: black;
    color: #d9d9d9;
    width: 100%;
    margin: 0 auto;
}

.card-header h1 {
    width: 100%;
    float: left;
}


@media only screen and (max-width: 1201px) {

    .twitter-icon {
        display: none;
    }

 
}

@media only screen and (max-width: 567px) {

    .column-left {
        display: none;
    }
 
}
